html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1300px;
}
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}
.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.el-table {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
}
.el-steps {
  margin: 14px 0;
  font-size: 12px;
}
.el-checkbox {
  margin: 0 8px 0 9px;
}